# Group-by mechanics

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)
                  })

In [3]:
df

      data1     data2 key1 key2
0 -0.178425 -0.655008    a  one
1  0.270139  0.515257    a  two
2  0.290156 -1.256115    b  one
3 -2.644299 -0.064960    b  two
4  0.582065  1.038324    a  one

In [5]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.224593  0.299524
b    -1.177072 -0.660537

In [6]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   0.201820  0.191658
     two   0.270139  0.515257
b    one   0.290156 -1.256115
     two  -2.644299 -0.064960

In [7]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [8]:
df.mean()

data1   -0.336073
data2   -0.084500
dtype: float64

In [11]:
df['data1'].groupby(df['key1']).mean()

key1
a    0.224593
b   -1.177072
Name: data1, dtype: float64

In [12]:
df.groupby(['key1', 'key2']).sum()

              data1     data2
key1 key2
a    one   0.403640  0.383315
     two   0.270139  0.515257
b    one   0.290156 -1.256115
     two  -2.644299 -0.064960

In [14]:
?df.groupby()

In [16]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     0.201820
      two     0.270139
b     one     0.290156
      two    -2.644299
Name: data1, dtype: float64

In [19]:
df.groupby([df['key1'], df['key2']]).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [22]:
df.groupby('key1')[['data1']].mean()

         data1
key1
a     0.224593
b    -1.177072

In [23]:
df.groupby([df['key1'], df['key2']]).size().unstack()

key2  one  two
key1
a       2    1
b       1    1

In [24]:
df

      data1     data2 key1 key2
0 -0.178425 -0.655008    a  one
1  0.270139  0.515257    a  two
2  0.290156 -1.256115    b  one
3 -2.644299 -0.064960    b  two
4  0.582065  1.038324    a  one

In [25]:
states = np.array(['Ohio', 'Iowa', 'Iowa', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])

df['data1'].groupby([states, years]).mean()

Iowa  2005    0.270139
      2006    0.290156
Ohio  2005   -1.411362
      2006    0.582065
Name: data1, dtype: float64

In [26]:
df['data1'].groupby([states, years]).size()

Iowa  2005    1
      2006    1
Ohio  2005    2
      2006    1
dtype: int64

## Iterating over a group

In [27]:
for name, group in df.groupby('key1'):
    print name, group

a       data1     data2 key1 key2
0 -0.178425 -0.655008    a  one
1  0.270139  0.515257    a  two
4  0.582065  1.038324    a  one
b       data1     data2 key1 key2
2  0.290156 -1.256115    b  one
3 -2.644299 -0.064960    b  two

In [28]:
for name, group in df.groupby(['key1', 'key2']):
    print name, group

('a', 'one')       data1     data2 key1 key2
0 -0.178425 -0.655008    a  one
4  0.582065  1.038324    a  one
('a', 'two')       data1     data2 key1 key2
1  0.270139  0.515257    a  two
('b', 'one')       data1     data2 key1 key2
2  0.290156 -1.256115    b  one
('b', 'two')       data1    data2 key1 key2
3 -2.644299 -0.06496    b  two

In [29]:
?df.groupby()

In [33]:
for name, group in df['data1'].groupby(df['key2']):
    print name, group

one 0   -0.178425
2    0.290156
4    0.582065
Name: data1, dtype: float64
two 1    0.270139
3   -2.644299
Name: data1, dtype: float64

In [35]:
df.groupby('key1').last()

         data1     data2 key2
key1
a     0.582065  1.038324  one
b    -2.644299 -0.064960  two

In [36]:
df.groupby('key1').first()

         data1     data2 key2
key1
a    -0.178425 -0.655008  one
b     0.290156 -1.256115  one

In [44]:
df.groupby('key1').max()

         data1     data2 key2
key1
a     0.582065  1.038324  two
b     0.290156 -0.064960  two

In [45]:
df.groupby('key2').min()

         data1     data2 key1
key2
one  -0.178425 -1.256115    a
two  -2.644299 -0.064960    a

In [47]:
df['key1'].min()

'a'

In [48]:
# Groupby external dictionary

In [49]:
people = pd.DataFrame(np.random.randn(5, 5),
                     columns = ['a', 'b', 'c', 'd', 'e'],
                     index = ['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [50]:
people

               a         b         c         d         e
Joe    -1.292220 -0.896752 -0.218589 -0.673407 -0.097685
Steve   0.923440  0.110993  1.523442  1.596757  0.647210
Wes    -0.736046 -0.677911 -0.321136 -0.876975 -0.959600
Jim     1.579147 -0.028979  1.703668 -0.615873  2.901791
Travis -1.625094 -1.063060 -0.915052 -0.455752 -0.357506

In [51]:
mapping = {'a': 'red',
          'b': 'red',
          'c': 'blue',
          'd': 'blue',
          'e': 'red',
          'f': 'orange'}

In [52]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [53]:
people.groupby(mapping, axis = 1).sum()

            blue       red
Joe    -0.891996 -2.286657
Steve   3.120199  1.681642
Wes    -1.198111 -2.373558
Jim     1.087796  4.451959
Travis -1.370804 -3.045660

In [56]:
people.groupby(['X', 'Y', 'X', 'X', 'Y']).sum()

          a         b         c         d         e
X -0.449120 -1.603642  1.163943 -2.166255  1.844506
Y -0.701654 -0.952068  0.608390  1.141005  0.289704

In [57]:
df_new = pd.read_csv('df.csv')

In [58]:
df_new.groupby('category').apply(lambda g: np.average(g['data'], weights=g['weights']))

category
a   -0.814226
b   -0.319780
dtype: float64

In [59]:
aapl = pd.read_csv('aapl.csv')

In [63]:
aapl['size'] = aapl['Strike'] * aapl['Vol']

In [65]:
aapl.loc[aapl['Type']=='call', 'size'].sum()/aapl.loc[aapl['Type']=='call', 'Vol'].sum()

98.69192063124521

In [67]:
aapl.loc[aapl['Type']=='put', 'size'].sum() / aapl.loc[aapl['Type']=='put', 'Vol'].sum()

97.92387988413657

In [68]:
?np.average

In [69]:
aapl.groupby('Type').apply(lambda g: np.average(g['Strike'], weights=g['Vol']))

Type
call    98.691921
put     97.923880
dtype: float64

In [70]:
aapl.head()

   Strike     Expiry  Type  Vol  Open_Int  Underlying_Price     size
0    47.5  1/20/2017   put  277       739             96.69  13157.5
1    47.5  1/19/2018  call    2         1             96.69     95.0
2    47.5  1/19/2018   put    2       375             96.69     95.0
3    50.0   2/5/2016  call    1         0             96.69     50.0
4    50.0  3/18/2016  call    4         0             96.69    200.0

In [71]:
aapl.groupby('Type').apply(lambda g: np.average(g['Strike'], weights=g['Open_Int']))

Type
call    117.446974
put     101.998861
dtype: float64

In [74]:
tips = pd.read_csv('tips.csv')

In [76]:
tips[-4:]

     total_bill   tip  gender smoker   day    time  size
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [77]:
tips.pivot_table(index = ['gender', 'smoker'])

                   size       tip  total_bill
gender smoker
Female No      2.592593  2.773519   18.105185
       Yes     2.242424  2.931515   17.977879
Male   No      2.711340  3.113402   19.791237
       Yes     2.500000  3.051167   22.284500

In [78]:
tips.pivot_table('tip', index = ['gender', 'smoker'])

gender  smoker
Female  No        2.773519
        Yes       2.931515
Male    No        3.113402
        Yes       3.051167
Name: tip, dtype: float64

In [79]:
tips.pivot_table('total_bill', index = ['gender', 'smoker'])

gender  smoker
Female  No        18.105185
        Yes       17.977879
Male    No        19.791237
        Yes       22.284500
Name: total_bill, dtype: float64

In [80]:
tips.pivot_table(index=['day'])

          size       tip  total_bill
day
Fri   2.105263  2.734737   17.151579
Sat   2.517241  2.993103   20.441379
Sun   2.842105  3.255132   21.410000
Thur  2.451613  2.771452   17.682742

In [81]:
tips.pivot_table(index=['day', 'time'])

                 size       tip  total_bill
day  time
Fri  Dinner  2.166667  2.940000   19.663333
     Lunch   2.000000  2.382857   12.845714
Sat  Dinner  2.517241  2.993103   20.441379
Sun  Dinner  2.842105  3.255132   21.410000
Thur Dinner  2.000000  3.000000   18.780000
     Lunch   2.459016  2.767705   17.664754

In [82]:
tips.pivot_table(index=['time'])

            size       tip  total_bill
time
Dinner  2.630682  3.102670   20.797159
Lunch   2.411765  2.728088   17.168676

In [83]:
tips.groupby(['day', 'time']).size()

day   time
Fri   Dinner    12
      Lunch      7
Sat   Dinner    87
Sun   Dinner    76
Thur  Dinner     1
      Lunch     61
dtype: int64

In [84]:
tips.groupby(['day', 'time']).mean()

             total_bill       tip      size
day  time
Fri  Dinner   19.663333  2.940000  2.166667
     Lunch    12.845714  2.382857  2.000000
Sat  Dinner   20.441379  2.993103  2.517241
Sun  Dinner   21.410000  3.255132  2.842105
Thur Dinner   18.780000  3.000000  2.000000
     Lunch    17.664754  2.767705  2.459016

In [85]:
?tips.pivot_table

In [86]:
tips.pivot_table(index = ['gender', 'smoker'], aggfunc=np.sum)

               size     tip  total_bill
gender smoker
Female No       140  149.77      977.68
       Yes       74   96.74      593.27
Male   No       263  302.00     1919.75
       Yes      150  183.07     1337.07

In [87]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [88]:
tips

     total_bill   tip  gender smoker   day    time  size   tip_pct
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
5         25.29  4.71    Male     No   Sun  Dinner     4  0.186240
6          8.77  2.00    Male     No   Sun  Dinner     2  0.228050
7         26.88  3.12    Male     No   Sun  Dinner     4  0.116071
8         15.04  1.96    Male     No   Sun  Dinner     2  0.130319
9         14.78  3.23    Male     No   Sun  Dinner     2  0.218539
10        10.27  1.71    Male     No   Sun  Dinner     2  0.166504
11        35.26  5.00  Female     No   Sun  Dinner     4  0.141804
12        15.42  1.57    Male     No   Sun  Dinner     2  0.101816
13        18.43  3.00    Male     No   Sun  Dinner     4  0.162778
14        14.83  3.02  Female     No   Sun  Dinner     2  0.203641
15        21.58  3.92    Male     No   Sun  Dinner     2  0.181650
16        10.33  1.67  Female     No   Sun  Dinner     3  0.161665
17        16.29  3.71    Male     No   Sun  Dinner     3  0.227747
18        16.97  3.50  Female     No   Sun  Dinner     3  0.206246
19        20.65  3.35    Male     No   Sat  Dinner     3  0.162228
20        17.92  4.08    Male     No   Sat  Dinner     2  0.227679
21        20.29  2.75  Female     No   Sat  Dinner     2  0.135535
22        15.77  2.23  Female     No   Sat  Dinner     2  0.141408
23        39.42  7.58    Male     No   Sat  Dinner     4  0.192288
24        19.82  3.18    Male     No   Sat  Dinner     2  0.160444
25        17.81  2.34    Male     No   Sat  Dinner     4  0.131387
26        13.37  2.00    Male     No   Sat  Dinner     2  0.149589
27        12.69  2.00    Male     No   Sat  Dinner     2  0.157604
28        21.70  4.30    Male     No   Sat  Dinner     2  0.198157
29        19.65  3.00  Female     No   Sat  Dinner     2  0.152672
..          ...   ...     ...    ...   ...     ...   ...       ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3  0.230742
215       12.90  1.10  Female    Yes   Sat  Dinner     2  0.085271
216       28.15  3.00    Male    Yes   Sat  Dinner     5  0.106572
217       11.59  1.50    Male    Yes   Sat  Dinner     2  0.129422
218        7.74  1.44    Male    Yes   Sat  Dinner     2  0.186047
219       30.14  3.09  Female    Yes   Sat  Dinner     4  0.102522
220       12.16  2.20    Male    Yes   Fri   Lunch     2  0.180921
221       13.42  3.48  Female    Yes   Fri   Lunch     2  0.259314
222        8.58  1.92    Male    Yes   Fri   Lunch     1  0.223776
223       15.98  3.00  Female     No   Fri   Lunch     3  0.187735
224       13.42  1.58    Male    Yes   Fri   Lunch     2  0.117735
225       16.27  2.50  Female    Yes   Fri   Lunch     2  0.153657
226       10.09  2.00  Female    Yes   Fri   Lunch     2  0.198216
227       20.45  3.00    Male     No   Sat  Dinner     4  0.146699
228       13.28  2.72    Male     No   Sat  Dinner     2  0.204819
229       22.12  2.88  Female    Yes   Sat  Dinner     2  0.130199
230       24.01  2.00    Male    Yes   Sat  Dinner     4  0.083299
231       15.69  3.00    Male    Yes   Sat  Dinner     3  0.191205
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
233       10.77  1.47    Male     No   Sat  Dinner     2  0.136490
234       15.53  3.00    Male    Yes   Sat  Dinner     2  0.193175
235       10.07  1.25    Male     No   Sat  Dinner     2  0.124131
236       12.60  1.00    Male    Yes   Sat  Dinner     2  0.079365
237       32.83  1.17    Male    Yes   Sat  Dinner     2  0.035638
238       35.83  4.67  Female     No   Sat  Dinner     3  0.130338
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [89]:
tips.pivot_table(['tip_pct', 'size'], 
                index = ['gender', 'day'],
                columns = ['smoker'])

              tip_pct                size
smoker             No       Yes        No       Yes
gender day
Female Fri   0.165296  0.209129  2.500000  2.000000
       Sat   0.147993  0.163817  2.307692  2.200000
       Sun   0.165710  0.237075  3.071429  2.500000
       Thur  0.155971  0.163073  2.480000  2.428571
Male   Fri   0.138005  0.144730  2.000000  2.125000
       Sat   0.162132  0.139067  2.656250  2.629630
       Sun   0.158291  0.173964  2.883721  2.600000
       Thur  0.165706  0.164417  2.500000  2.300000

In [90]:
tips.pivot_table(['tip_pct', 'size'], 
                index = ['gender', 'day'],
                columns = ['time', 'smoker'])

              tip_pct                                    size                 \
time           Dinner               Lunch              Dinner          Lunch
smoker             No       Yes        No       Yes        No      Yes    No
gender day
Female Fri   0.142857  0.213179  0.187735  0.203729  2.000000  2.00000   3.0
       Sat   0.147993  0.163817       NaN       NaN  2.307692  2.20000   NaN
       Sun   0.165710  0.237075       NaN       NaN  3.071429  2.50000   NaN
       Thur  0.159744       NaN  0.155814  0.163073  2.000000      NaN   2.5
Male   Fri   0.138005  0.127082       NaN  0.174144  2.000000  2.40000   NaN
       Sat   0.162132  0.139067       NaN       NaN  2.656250  2.62963   NaN
       Sun   0.158291  0.173964       NaN       NaN  2.883721  2.60000   NaN
       Thur       NaN       NaN  0.165706  0.164417       NaN      NaN   2.5


time
smoker            Yes
gender day
Female Fri   2.000000
       Sat        NaN
       Sun        NaN
       Thur  2.428571
Male   Fri   1.666667
       Sat        NaN
       Sun        NaN
       Thur  2.300000

In [91]:
tips.pivot_table(['tip', 'size'], 
                index = ['gender', 'day'],
                columns = ['time', 'smoker'])

                  tip                                 size                 \
time           Dinner               Lunch           Dinner          Lunch
smoker             No       Yes        No    Yes        No      Yes    No
gender day
Female Fri   3.250000  2.700000  3.000000  2.660  2.000000  2.00000   3.0
       Sat   2.724615  2.868667       NaN    NaN  2.307692  2.20000   NaN
       Sun   3.329286  3.500000       NaN    NaN  3.071429  2.50000   NaN
       Thur  3.000000       NaN  2.437083  2.990  2.000000      NaN   2.5
Male   Fri   2.500000  3.246000       NaN  1.900  2.000000  2.40000   NaN
       Sat   3.256563  2.879259       NaN    NaN  2.656250  2.62963   NaN
       Sun   3.115349  3.521333       NaN    NaN  2.883721  2.60000   NaN
       Thur       NaN       NaN  2.941500  3.058       NaN      NaN   2.5


time
smoker            Yes
gender day
Female Fri   2.000000
       Sat        NaN
       Sun        NaN
       Thur  2.428571
Male   Fri   1.666667
       Sat        NaN
       Sun        NaN
       Thur  2.300000

In [92]:
tips.pivot_table(index = ['day', 'time'])

                 size       tip   tip_pct  total_bill
day  time
Fri  Dinner  2.166667  2.940000  0.158916   19.663333
     Lunch   2.000000  2.382857  0.188765   12.845714
Sat  Dinner  2.517241  2.993103  0.153152   20.441379
Sun  Dinner  2.842105  3.255132  0.166897   21.410000
Thur Dinner  2.000000  3.000000  0.159744   18.780000
     Lunch   2.459016  2.767705  0.161301   17.664754

In [94]:
tips.pivot_table('tip', index = ['day', 'time'],
                columns =['gender', 'smoker'])

gender         Female                Male
smoker             No       Yes        No       Yes
day  time
Fri  Dinner  3.250000  2.700000  2.500000  3.246000
     Lunch   3.000000  2.660000       NaN  1.900000
Sat  Dinner  2.724615  2.868667  3.256563  2.879259
Sun  Dinner  3.329286  3.500000  3.115349  3.521333
Thur Dinner  3.000000       NaN       NaN       NaN
     Lunch   2.437083  2.990000  2.941500  3.058000